@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    font-size: 62.5%;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    padding: 3rem 2rem;
}

h1 {
    font-size: 2.4rem;
    color: #4E5150;
    margin-bottom: 2rem;
    font-weight: inherit;
}

.checkout-cart {
    padding: 3rem 3rem 2rem 3rem;
    background-color: #F2F2F2;
    border-radius: 1.2rem;
    margin-bottom: 5rem;
}

.item-img {
    height: auto;
    width: 40%;
    border-radius: 1.2rem;
}

.items {
    font-size: 1.2rem;
    display: flex;
    gap: 3rem;
    color: #4E5150;
    margin-bottom: 3rem;
}

.items a {
    color: unset;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.prices {
    display: flex;
    gap: 1.5rem;
}

.sale-price {
    font-size: 1.4rem;
    color: #F2994A;
}

.actual-price {
    text-decoration: line-through;
}

.counter {
    border: 1px solid #828282;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 1rem;
    border-radius: 1.2rem;
}

.counter span {
    background-color: #E0E0E0;
    border-radius: .4rem;
}

.counter span:hover {
    cursor: pointer;
    opacity: 0.5;
}

.shipping,
.total {
    border-top: 1px solid #BDBDBD;
    font-size: 1.4rem;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 0;
}

form {
    margin-bottom: 20rem;
}

h2 {
    font-size: 1.4rem;
    font-weight: inherit;
    margin-bottom: 1.5rem;
    color: #333333;
}

.input-block .material-icons {
    vertical-align: middle;
    color: #828282;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

input,
select {
    margin-left: 1rem;
    border-style: hidden;
    width: 80%;
    min-height: 4rem;
}

input[type="checkbox"] {
    margin-left: 0;
    margin-right: 1rem;
    width: unset;
    min-height: unset;
    vertical-align: middle;
}

.checkbox-label {
    color: #4F4F4F;
}

.btn {
    float: right;
    margin: 2rem 0 0 0;
    border-style: unset;
    border-radius: 12px;
    background-color: #F2994A;
    font-size: 1.6rem;
    color: #FFFFFF;
    padding: 1.7rem 4.5rem;
}

.btn:hover,
.btn:focus {
    opacity: .8;
    cursor: pointer;
}

.input-block {
    margin: 1rem 0 2rem 0;
    border: 1px solid #828282;
    padding: 1rem;
    border-radius: 1.2rem;
}

.row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

select {
    color: #828282;
}

footer {
    text-align: center;
    color: #BDBDBD;
    font-size: 1.4rem;
}

footer a {
    color: inherit;
    font-weight: 700;
}

@media (min-width: 992px) {
    body {
        padding: 3rem 20rem 2rem 20rem;
    }
    h1 {
        margin-bottom: 5rem;
        font-size: 3.6rem;
    }
    .container {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        margin-bottom: 3rem;
    }
    form {
        font-size: 1.2rem;
    }
    h2 {
        font-size: 1.8rem;
    }
    h2:nth-last-of-type(1) {
        margin-top: 5rem;
    }
}